 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
   display: block; }
 
 audio,
 canvas,
 video {
   display: inline-block; }
 
 audio:not([controls]) {
   display: none;
   height: 0; }
 
 [hidden], template {
   display: none; }
 
 html {
   background: #fff;
   color: #000;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%; }
 
 html,
 button,
 input,
 select,
 textarea {
   font-family: sans-serif; }
 
 body {
   margin: 0; }
 
 a {
   background: transparent; }
   a:focus {
     outline: thin dotted; }
   a:hover, a:active {
     outline: 0; }
 
 h1 {
   font-size: 2em;
   margin: 0.67em 0; }
 
 h2 {
   font-size: 1.5em;
   margin: 0.83em 0; }
 
 h3 {
   font-size: 1.17em;
   margin: 1em 0; }
 
 h4 {
   font-size: 1em;
   margin: 1.33em 0; }
 
 h5 {
   font-size: 0.83em;
   margin: 1.67em 0; }
 
 h6 {
   font-size: 0.75em;
   margin: 2.33em 0; }
 
 abbr[title] {
   border-bottom: 1px dotted; }
 
 b,
 strong {
   font-weight: bold; }
 
 dfn {
   font-style: italic; }
 
 mark {
   background: #ff0;
   color: #000; }
 
 code,
 kbd,
 pre,
 samp {
   font-family: monospace, serif;
   font-size: 1em; }
 
 pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word; }
 
 q {
   quotes: "\201C" "\201D" "\2018" "\2019"; }
 
 q:before,
 q:after {
   content: '';
   content: none; }
 
 small {
   font-size: 80%; }
 
 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline; }
 
 sup {
   top: -0.5em; }
 
 sub {
   bottom: -0.25em; }
 
 img {
   border: 0; }
 
 svg:not(:root) {
   overflow: hidden; }
 
 figure {
   margin: 0; }
 
 fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em; }
 
 legend {
   border: 0;
   padding: 0;
   white-space: normal; }
 
 button,
 input,
 select,
 textarea {
   font-family: inherit;
   font-size: 100%;
   margin: 0;
   vertical-align: baseline; }
 
 button,
 input {
   line-height: normal; }
 
 button,
 select {
   text-transform: none; }
 
 button,
 html input[type="button"],
 input[type="reset"],
 input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer; }
 
 button[disabled],
 input[disabled] {
   cursor: default; }
 
 input[type="checkbox"],
 input[type="radio"] {
   box-sizing: border-box;
   padding: 0; }
 
 input[type="search"] {
   -webkit-appearance: textfield;
   box-sizing: content-box; }
 
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none; }
 
 button::-moz-focus-inner, input::-moz-focus-inner {
   border: 0;
   padding: 0; }
 
 textarea {
   overflow: auto;
   vertical-align: top; }
 
 table {
   border-collapse: collapse;
   border-spacing: 0; }
 
 *, *:before, *:after {
   box-sizing: border-box; }
 
 /*
  * Global Styles
  */
 html {
   font-size: 14px; }
 
 body {
   color: #bfc1c8;
   font-family: "Roboto", "Open Sans", sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.5;
   background: #1e202b; }
 
 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   margin: 0 0 20px;
   line-height: normal; }
 
 hr {
   border: none;
   border-bottom: 1px solid #777; }

 
 a {
   text-decoration: none;
   color: #009ad8; }
 
 address {
   font-style: normal; }
 
 p {
   margin-top: 0; }
 
 form input, form textarea, form select {
   outline: none;
   border: none;
   padding: 10px;
   border-radius: 30px; }
 form select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; }
 form textarea {
   resize: vertical; }
 
 /*
  * Reusable Components Style
  */
 .button, form input[type="submit"], form button, form input[type="reset"] {
   border: none;
   background: #009ad8;
   padding: 10px 20px;
   border-radius: 30px;
   color: white; }
 
 .map {
   height: 220px; }
 
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1; }
   .container:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
   @media (min-width: 768px) {
     .container {
       width: 750px; } }
   @media (min-width: 992px) {
     .container {
       width: 970px; } }
   @media (min-width: 1200px) {
     .container {
       width: 1170px; } }
 
 .container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1; }
   .container-fluid:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
 
 /*
  * Header Styles
  */
 .site-header {
   padding: 50px 0; }
   .site-header .branding {
     float: left; }
     .site-header .branding .logo, .site-header .branding .logo-type {
       display: inline-block;
       vertical-align: middle; }
     .site-header .branding .logo {
       margin-right: 10px; }
     .site-header .branding .site-title {
       margin-bottom: 5px;
       font-size: 16px;
       font-size: 1.1428571429em;
       color: white; }
     .site-header .branding .site-description {
       font-size: 10px;
       font-size: 0.7142857143em;
       display: block;
       color: #bfc1c8; }

 
 .hero {
   background-size: cover;
   padding: 70px 0;
   min-height: 350px; }
 
 .find-location {
   position: relative;
   margin-bottom: 70px; }
   .find-location input[type="text"] {
     width: 100%;
     padding: 20px 50px 20px 20px;
     background: #1e202b;
     color: white; }
   .find-location input[type="submit"] {
     position: absolute;
     top: 5px;
     right: 5px;
     bottom: 5px;
     padding: 0 40px; }
 
 .forecast-container {
   width: 100%;
   background: #323544;
   display: table;
   table-layout: fixed;
   width: 100%;
   overflow: hidden;
   border-radius: 10px;
   margin-top: -150px;
   margin-bottom: 50px; }
   .forecast-container .forecast {
     display: table-cell;
     vertical-align: top; }
     .forecast-container .forecast:nth-child(even) {
       background-color: #262936; }
     @media screen and (max-width: 990px) {
       .forecast-container .forecast {
         display: block;
         width: 16.6667%;
         float: left; } }
     .forecast-container .forecast.today {
       width: 420px; }
       .forecast-container .forecast.today .forecast-header {
         *zoom: 1; }
         .forecast-container .forecast.today .forecast-header:after {
           content: " ";
           clear: both;
           display: block;
           overflow: hidden;
           height: 0; }
         .forecast-container .forecast.today .forecast-header .day {
           float: left; }
         .forecast-container .forecast.today .forecast-header .date {
           float: right; }
       .forecast-container .forecast.today .forecast-content {
         text-align: left;
         padding-top: 30px;
         padding-bottom: 30px; }
       .forecast-container .forecast.today .location {
         font-size: 18px;
         font-size: 1.2857142857em;
         font-weight: 400; }
       .forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
         display: inline-block;
         vertical-align: middle; }
       .forecast-container .forecast.today .degree .num {
         font-size: 90px;
         font-size: 6.4285714286rem;
         margin-right: 30px; }
       .forecast-container .forecast.today span {
         margin-right: 20px; }
         .forecast-container .forecast.today span img {
           margin-right: 5px;
           vertical-align: middle; }
       @media screen and (max-width: 990px) {
         .forecast-container .forecast.today {
           display: block;
           width: 100%; } }
     .forecast-container .forecast .forecast-header {
       background: rgba(0, 0, 0, 0.1);
       padding: 10px;
       text-align: center;
       font-weight: 400; }
     .forecast-container .forecast .forecast-icon {
       height: 50px; }
     .forecast-container .forecast .forecast-content {
       padding: 50px 20px 10px;
       text-align: center; }
       .forecast-container .forecast .forecast-content .forecast-icon {
         margin-bottom: 20px; }
       .forecast-container .forecast .forecast-content .degree {
         font-size: 24px;
         font-size: 1.7142857143em;
         color: white;
         font-weight: 700; }
       .forecast-container .forecast .forecast-content small {
         font-size: 16px;
         font-size: 1.1428571429em; }
 
 